
 <div class="container">
 <div class = "card mx-auto">
 <form action="../links/addcursos" method = "POST" > 
        <h1 class="form-title">Creación de Cursos</h1>

        <label for="uname"><b>Nombre de la clase</b></label> 
        <input type="text" name = "name" placeholder="Nombre" autofocus> 
        
        <label for="appt">Horario</label>

        <input type="time" id="hourFinn" name="hourBegg"
            min="07:00" max="22:00" required>

        <input type="time" id="hourFinn" name="hourFinn"
        min="07:00" max="22:00" required>

        <label for="semester">Semestre</label>

            <select name="semester" id="semester">
                <option value="1er">1er</option>
                <option value="2do">2do</option>
                <option value="3ro">3ro</option>
                <option value="4to">4to</option>
                <option value="5to">5to</option>
                <option value="6to">6to</option>
                <option value="7mo">7mo</option>
                <option value="8vo">8vo</option>
            </select>

        <label for="uname"><b>Dias (Lu, Ma, Mi, Ju, Vi, Sa)</b></label> 
        <input type="text" name = "days" placeholder="dias"> 
        
        <button class ="btn btn-success btn-block" type="submit" placeholder="Aceptar">Aceptar</button>
           
        </button>
        
    </form> 
</div>
 </div>
