<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ITSON</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/links/cursos">Cursos</a></li>
      <li><a href="/links/maestros">Maestros</a></li>
      <li><a href="/links/alumnos">Alumnos</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/singup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/links/add"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

  </div>
</nav>