
 <form action="index.html" class="form-box animate fadeInUp"> 
        <h1 class="form-title">Ingreso</h1>    
        <input type="text" name = "username" placeholder="E-Mail" autofocus> 
        <input type="password" name = "Password" placeholder="Password">
        <br>
        <button type="submit" placeholder="Aceptar">Aceptar</button>
           
        </button>
    </form> 