
 <div class="container">
 <div class = "card mx-auto">
 <form action="../links/add" method = "post" > 
        <h1 class="form-title">Registro de usuario (maestros)</h1>

        <label for="uname"><b>Nombre de Usuario</b></label> 
        <input type="text" name = "username" placeholder="Username" autofocus> 
        <label for="uname"><b>Contraseña</b></label>
        <input type="text" name = "password" placeholder="Password">
        <br>
        <button class ="btn btn-success " type="submit" placeholder="Aceptar">Aceptar</button>
           
        </button>
    </form> 
</div>
 </div>
