
 <form action="index.html" class="form-box animate fadeInUp"> 
        <h1 class="form-title">Ingreso</h1>    
        <input type="text" placeholder="E-Mail"> 
        <input type="password" placeholder="Password">
        <button type="submit">
           
        </button>
    </form> 