
 <div class = "tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login" >
 <form action="/link/addcursos" method = "post" > 
        <h1 class="form-title">Registro de cursos</h1>  

        <label for="coursename">Nombre del curso</label>  
        <input type="text" name = "coursename" placeholder="Username" autofocus> 

        <label for="days">Dias</label>
        <input type="text" name="password" placeholder="Horas">
        
        <label for="hours">Horas</label>  
        <input type="text" name = "hours" placeholder="Horas"> 

        <label for="semester">Semestre</label>  
        <input type="text" name = "semester" placeholder="Semestre"> 

        <br>
        <button class ="btn btn-success btn-block" type="submit" placeholder="Aceptar">Aceptar</button>
           
        </button>
    </form> 
</div>