<main class ="index">
<header class = "masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class = "mb-1"> Cursos Nuevos </h1>
        <h3 class = "mb-5">
            <em> Registra cursos nuevos</em>
        </h3>
        <a href="/links/maestros" class = "btn btn-primary">
            Iniciar
        </a>
    </div>

</header>

</main>