<main class ="index">
<header class = "masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class = "mb-1"> Plataforma de Administración Escolar (Padesc) </h1>
        <h3 class = "mb-5">
             Administre sus funciones escolares de forma comoda y sencilla
        </h3>

        <h4> Cree una cuenta gratuita para empezar</h4>
        <a href="/signup" class = "btn btn-primary">
            Registrarse
        </a>

        <h4> Inicie sesión en caso de tener una cuenta activa</h4>
        <a href="/signin" class = "btn btn-primary">
            Iniciar Sesión
        </a>
    </div>
</header>

</main>